*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

}


#main{
    width: 100%;
    min-height: 100vh;

}

#top{
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1620391396205-dd12a27a6257?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.281);

}
#text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 0 12vw;
    color: #fff;
}

#textright{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textright p {
    font-size: 12px;
    width: 40%;

}
#textright i{
    color: #fff;
}
#text h1{
    font-weight: 500;
    font-size: 6vw;
}

#bottom{
    display: flex;
    width: 100%;
    min-height: 20vh;
    background-color: blue;
}

#bone{
    padding: 30px;
    width: 25%;
    min-height: inherit;
    background-color: #fff;
}
#bone p{
    font-size: 12px;
    margin-top: 15%;
}
#btwo{
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1530007874544-a6f7674b5a47?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z2xpZGVyfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}

#bthree{
    width: 20%;
    min-height: inherit;

}

#bthreetop{
    width: 100%;
    min-height: 20vh;
    padding: 20px;
    color: #fff;
    background-color: orangered;
}
#bthreetop p{
    margin-top: 10px;
    font-size: 12px;
}
#bthreebottom{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#bfour{
    
    width: 30%;
    min-height: inherit;
    padding: 30px;
    background-color: #444;
    color: #fff;
}

.notf{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.notf #photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}

.notf p{
    width: 84%;
    font-size: 12px;
}


@media(max-width:500px){
    #overlay #text{
        flex-direction: column;
        align-items: flex-start;

    }
    #text h1{
        font-size: 10vm;

    }
    #bottom{
        min-height: 20vh;   
    }
    #overlay #text #textright{
        flex-direction: column;
        align-items: flex-start;
    }

    #overlay #text #textright p{ 
        width: initial;
        margin-top: 20px;

    }
    #overlay #text #textright #icons{
        margin-top: 30px;

    }

    #bottom{
        flex-direction: column;
    }
    #bone{
        width: 100%;
    }
    #btwo{
        width: 100%;
        min-height: 40vh;
    }
    #bthree{
        flex-direction: column;
        width: 100%;
    }
    #bthreebottom{
        min-height: 40vh;
    }
    #bfour{
        width: 100%;
    }
}